@font-face
{
    font-family:My Font; 
    src: url(fonts/Titillium-Bold.otf)
}
@font-face
{
    font-family:My Font Light; 
    src: url(fonts/Titillium-Light.otf)
}
 
body 
{
    background-color: aliceblue;
    margin : auto;
    font-family: "My Font";
}

form
{
    position: fixed;
    margin: auto;
    top:20%;
    left:43%;
}
input[type=text], input[type=password]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0.5px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    
}

input[type=submit]
{
    margin-top:  10px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 0.5px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-family: "My Font Light";
}
input[type=submit]:hover {
    background-color: #45a049;
}
a {
    font-family: "My Font Light";
}